Foreign-Alphabet/Foreign-Alphabet/AlphabetFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alphabet-file">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alphabet-options">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="display-options">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="reading">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="default" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="type-options">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="reading">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="default" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="alphabet-classes">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="group" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="alphabet-characters">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="character">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="reading">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string" >
                            <xs:attribute name="id" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="class" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>